@{
    Context.Items["Title"] = "About";
}
<h2>Czym jest Zakładowy Zakład Świadczeń Socjalnych</h2>
<div style="position:relative">
    <img src="~/images/writing-1149962_640.jpg" align="right" style="position:relative; left:25px"/>
</div>
<div style="position:relative">
    <p style="text-align:justify">
        Zakładowy Fundusz Świadczeń Socjalnych to środki finansowe gromadzone przez pracodawcę na osobnym rachunku bankowym w celu wykorzystania ich na wsparcie socjalne uprawnionych do tego pracowników.
        Fundusz Socjalny jest obowiązkowy dla wszystkich pracodawców z jednostek budżetowych i samorządowych (bez względu na liczbę zatrudnianych pracowników) oraz pozostałych,
        którzy na dzień 1 stycznia danego roku zatrudniają min. 50 pracowników w przeliczeniu na pełne etaty. Środki finansowe pochodzą z odpisów, których wysokość jest ściśle określona.
    </p>

    <p style="text-align:justify"><b>Ustawa o Zakładowym Funduszu Świadczeń Socjalnych</b></p>
    <p style="text-align:justify">
        Środkami z ZFŚS dysponuje pracodawca i to on decyduje, na co je wykorzysta. Jednak ustawa o zfśs regulująje ten obszar działalności określa, na co przykładowo pieniądze mogą być wykorzystywane.
        Jednak w związku z tym, ze ustawa nie wymienia wszystkich możliwości, często dochodzi do nieprawidłowego spożytkowania środków finansowych. Fundusze, zgromadzone przez pracodawcę na Fundusz Socjalny,
        powinny być spożytkowane na pomoc socjalną, świadczenia socjalne dla wszystkich pracowników lub dla tych, którzy znajdują się w trudnej sytuacji finansowej lub życiowej.
        <b>Fundusz Socjalny</b> może być wykorzystany przykładowo na:
    </p>

    <ul>
        <li>świadczenie urlopowe czyli dofinansowanie wypoczynku pracownika lub jego dzieci,</li>
        <li>zapomogę dla pracownika dotkniętego poważnym zdarzeniem losowym, chorującego na przewlekłe choroby, opiekującego się niepełnosprawnymi dziećmi, posiadającego wielodzietne rodziny lub samotnie wychowującego dzieci,</li>
        <li>dofinansowanie świadczeń o charakterze sportowo-rekreacyjnym lub kulturalno-oświatowym,</li>
        <li>organizowanie paczek żywnościowych dla dzieci lub z okazji świąt,</li>
        <li>od niedawna pieniądze z funduszu socjalnego można przeznaczyć również na dofinansowanie lub tworzenie przyzakładowych żłobków i przedszkoli.</li>
    </ul>

    <p><a target="_blank" rel="noopener noreferrer" href="https://poradnikpracownika.pl/-co-to-jest-zakladowy-fundusz-swiadczen-socjalnych">Dowiedz się więcej</a></p>
</div>


