@{
    Context.Items["Title"] = "Show";
}

<div class="container">
    <div class="row">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Klauzula informacyjna ZFŚS</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Zgodnie z art. 13 ust. 1 i 2 i art. 14 ust. 1 i 2 Rozporządzenia Parlamentu Europejskiego i
                    Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych w
                    związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich
                    danych oraz uchylenia dyrektywy 95/46/WE [RODO], informuję, że:<br>
                    <b>1)</b> Administratorem Pani/Pana danych osobowych jest Uniwersytet Zielonogórski, 65-417
                    Zielona Góra, ul. Licealna 9; REGON 977924147; tel. 683282000, fax: 683270735;
                    www.uz.zgora.pl. <br>
                    <b>2)</b> Administrator wyznaczył Inspektora Ochrony Danych, z którym można skontaktować w
                    sprawach ochrony swoich danych osobowych przez e-mail: IOD@adm.uz.zgora.pl lub
                    telefonicznie tel. 603474724.<br>
                    <b>3)</b> Pani/Pana dane osobowe przetwarzane będą dla celów: naliczania i realizacji świadczeń
                    z Zakładowego Funduszu Świadczeń Socjalnych, archiwalnych, statystycznych,
                    uaktualniania bazy, wysyłania korespondencji, rezerwowania pobytu i meldowania w
                    ośrodkach wypoczynkowych UZ, wystawiania skierowań, w razie potrzeby
                    wystawiania faktur, czy wysyłania korespondencji itp.<br>
                    <b>4)</b> Podstawą prawną przetwarzania danych osobowych stanowi art. 6 ust. 1 lit. b i c
                    RODO w zw. z art. 144 Ustawy z dnia 20 lipca 2018 r. Prawo o szkolnictwie wyższym
                    i nauce, Ustawą z dnia 4 marca 1994 r. o zakładowym funduszu świadczeń socjalnych
                    oraz Regulaminem ZFŚS w Uniwersytecie Zielonogórski.<br>
                    <b>5)</b> Podanie danych jest dobrowolne, jednak konieczne do realizacji celów, do jakich
                    zostały zebrane.<br>
                    <b>6)</b> Dane nie będą udostępniane innym podmiotom zewnętrznym, z wyjątkiem przypadków
                    przewidzianych przepisami prawa.<br>
                    <b>7)</b> Pani/Pana dane przechowywane będą przez okres niezbędny do realizacji wyżej
                    określonych celów.<br>
                    <b>8)</b> Przysługuje Pani/Panu prawo:<br>
                    a) dostępu do swoich danych osobowych (na podstawie art. 15 RODO),<br>
                    b) sprostowania swoich danych osobowych (na podstawie art. 16 RODO),<br>
                    c) usunięcia swoich danych osobowych (na podstawie art. 17 RODO),<br>
                    d) żądania od Administratora ograniczenia przetwarzania danych osobowych z
                    zastrzeżeniem przypadków, o których mowa w art. 18 ust. 2 RODO; prawo
                    ograniczenia przetwarzania nie ma zastosowania w odniesieniu do przechowywania
                    w celu zapewnienia korzystania ze środków ochrony prawnej lub w celu ochrony
                    praw innej osoby fizycznej lub prawnej, lub z uwagi na ważne względy interesu
                    publicznego Unii Europejskiej lub państwa członkowskiego,<br>
                    e) wniesienia skargi do Prezesa Urzędu Ochrony Danych Osobowych, gdy uzna
                    Pani/Pan, że przetwarzanie danych osobowych narusza przepisy RODO.<br>
                    <b>9)</b> Jeżeli przetwarzanie odbywa się na podstawie art.6 ust.1 lit. a lub art.9 ust.2 lit a
                    RODO (zgoda osoby), przysługuje Pani/Panu prawo do cofnięcia zgody w dowolnym
                    momencie bez wpływu na zgodność z prawem przetwarzania, którego dokonano na
                    podstawie zgody przed jej cofnięciem. Oświadczenie o cofnięciu zgody na
                    przetwarzanie danych osobowych wymaga jego złożenia w formie pisemnej, na adres
                    Administratora lub elektronicznie na adres mailowy: IOD@adm.uz.zgora.pl.<br>
                    <b>10)</b> Pani/Pana dane nie będą przetwarzane w sposób zautomatyzowany, w tym również w
                    formie profilowania.
                </div>
            </div>
        </div>
    </div>
</div>
