@page
@model ForgotPasswordModel

@{
    Layout = "";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Spin Login Form a Responsive Web Template, Bootstrap Web Templates, Flat Web Templates, Android Compatible Web Template, Smartphone Compatible Web Template, Free Webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design">
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }

        /**/</script>
    <link href="~/css/font-awesome.css" rel="stylesheet">
    <link href="~/css/style.css" rel='stylesheet' type='text/css' />
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
</head>

<body>
    <h1 style="padding:0">Zakładowy Fundusz Świadczeń Socjalnych</h1>
    <h1 style="padding:20px"> Uniwersytetu Zielonogórskiego</h1>
    <div class="clear-loading spinner">
        <span></span>
    </div>
    <div class="w3ls-login box box--big">
        <form method="post">
            <label style="font-size:48px; color:khaki; align-content:center">Przypomnij hasło</label>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="agile-field-txt">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Username">Nazwa użytkownika</label>
                    <input asp-for="Input.Username" class="form-control" placeholder="Wprowadź nazwę użytkownika" />
                    <span asp-validation-for="Input.Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Email">E-mail</label>
                    <input asp-for="Input.Email" class="form-control" placeholder="Wprowadź e-mail" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
            </div>
            <input type="submit" value="Przypomnij hasło">
            <input type="button" value="Wróc do logowania" onclick="window.location.href = '@Url.Action("Account/Login", "Identity")';" />
        </form>
    </div>
    <div class="copy-wthree" style="text-align:left; padding:0; position:fixed; bottom:0">
        <p><b>© Projekt i wykonanie: Jędrzej Krysiukiewicz</b></p>
        <p>Wydział Informatyki, Elektrotechniki i Automatyki</p>
        <p>Uniwersytet Zielonogórski </p>
        <p>2019</p>
    </div>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
